<html>
  <head>
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/main.css') }}"
    /> -->
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
      "
    >
      <div
        style="
          border: 1px solid black;
          padding: 0 20px;
          width: 400px;
          margin-bottom: 40px;
        "
      >
        <h1>Address</h1>
        <form action="/uploader" method="POST" enctype="multipart/form-data">
          <div>
            <div>
              <p>ก่อนกดใบจัดเตรียมสินค้า</p>
              <input type="file" name="before" />
            </div>
            <div>
              <p>หลังกดใบจัดเตรียมสินค้า</p>
              <input type="file" name="after" />
            </div>
            <br />
            <input type="submit" />
          </div>
        </form>
      </div>
      <br />
      <div style="border: 1px solid black; padding: 0 20px; width: 400px">
        <h1>SOX NO IRD</h1>
        <form action="/uploader2" method="POST" enctype="multipart/form-data">
          <div>
            <div>
              <p>ก่อนกดใบจัดเตรียมสินค้า</p>
              <input type="file" name="before" />
            </div>
            <br />
            <div>
              <p>หลังกดใบจัดเตรียมสินค้า</p>
              <input type="file" name="after" />
            </div>
            <br />
            <input type="submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
